#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --builtin-venv --python python3.11 \
		--preinstall deps/clapshot_grpc-0.0.0+dev.tar.gz \
		--extra-pip-arg --no-build-isolation
